<div class="row dark-glass d-flex justify-content-center">
  <div class="row d-flex justify-content-start py-3">
    <div class="col-3 px-3">
      <button class="btn btn-light" [routerLink]="['']"><i class="bi bi-arrow-left-circle"></i> Voltar</button>
    </div>
  </div>
  <div style="max-height: 50vh; overflow-y: auto;">
    <div *ngFor="let item of barCodesScanned; let index = index">
      <div class="row d-flex align-items-center flex-column">
        <div class="card my-3" style="max-width: 540px; min-width: 300px;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">{{ item.barCode }}</h5>
                <p class="card-text">Nome: {{ item.nome }}</p>
                <p class="card-text">Fabricante: {{ item.fabricante }}</p>
                <p class="card-text">Categoria: {{ item.categoria }}</p>
                <p class="card-text">Preço: {{ item.price | currency }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5" style="max-width: 540px; min-width: 300px;">
          <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-warning w-100" (click)="onClickItemToEdit(item)">
              Editar
            </button>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-danger w-100" (click)="onClickItemToRemove(item)">
              Remover
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
