#mainPage {
    flex-grow: 1;
}

#mainPage::before {
    content: "";
    background: url(../assets/img/background-polygon.jpg);
    /* opacity: 0.9; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
