<div class="row d-flex justify-content-center">
  <div *ngFor="let item of barCodesScanned">
    <a (click)="onClickScannedItem(item)">
      <div class="card my-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{ item.barCode }}</h5>
              <p class="card-text">Nome: {{ item.nome }}</p>
              <p class="card-text">Fabricante: {{ item.fabricante }}</p>
              <p class="card-text">Categoria: {{ item.categoria }}</p>
              <p class="card-text">Preço: {{ item.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="row d-flex justify-content-center" *ngIf="editingMode">
      <button class="btn btn-dark">
        Editar
      </button>
      <button class="btn btn-dark">
        Remover
      </button>
    </div>
  </div>
</div>
