@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'Press Start 2P';
  src: local("Press Start 2P"), url(./fonts/PressStart2P-Regular.ttf) format("truetype");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.dyn-font {
  font-family: 'Press Start 2P';
  font-size: medium;
  color: mediumspringgreen;
}

.dyn-font-big {
  font-family: 'Press Start 2P';
  font-size: large;
  color: mediumspringgreen;
}

.dyn-font-small {
  font-family: 'Press Start 2P';
  color: mediumspringgreen;
  font-size: small;
}

.max-width-input {
  max-width: 400px;
}

.max-width-input-currency {
  max-width: 150px;
}

.dark-glass {
  /* From https://css.glass */
  background: rgba(67, 71, 76, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(67, 71, 76, 0.28);
}
