<div class="row d-flex">
  <div class="modal bg-dark" tabindex="-1" #modalFufillItemInfo>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Revise as informações do scan</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="editBarCodeForm">
            <div class="mb-3">
              <label for="barCodeInput" class="form-label">Código de Barras</label>
              <input class="form-control  max-width-input" type="number" aria-label="readonly input barcode" readonly
                #barCodeInput formControlName="barCodeInput" id="barCodeInput">
              <div class="invalid-feedback">
                <div *ngIf="controls['nameInput'].errors?.['required']">Nome do Produto é obrigatório.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Nome do Produto</label>
              <input class="form-control  max-width-input" type="text" #nameInput formControlName="nameInput"
                id="nameInput"
                [ngClass]="{ 'is-invalid': (controls['nameInput'].touched || hoveredSubmit) && controls['nameInput'].invalid }">
              <div class="invalid-feedback">
                <div *ngIf="controls['nameInput'].errors?.['required']">Nome do Produto é obrigatório.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="fabricanteInput" class="form-label">Fabricante</label>
              <input class="form-control  max-width-input" type="text" #fabricanteInput
                formControlName="fabricanteInput" id="fabricanteInput"
                [ngClass]="{ 'is-invalid': (controls['fabricanteInput'].touched || hoveredSubmit) && controls['fabricanteInput'].invalid }">
              <div class="invalid-feedback">
                <div *ngIf="controls['fabricanteInput'].errors?.['required'] || controls['fabricanteInput'].errors?.['pattern']">Nome do Fabricante é obrigatório.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="categoriaInput" class="form-label">Categoria</label>
              <select class="form-select max-width-input" aria-label="Select category" #categoriaInput
                formControlName="categoriaInput" id="categoriaInput"
                [ngClass]="{ 'is-invalid': (controls['categoriaInput'].touched || hoveredSubmit) && controls['categoriaInput'].invalid }">
                <option selected #selectedOption>Selecione uma categoria...</option>
                <option *ngFor="let categoria of categorias; let index = index" [value]="categoria">{{ categoria }}
                </option>
              </select>
              <div class="invalid-feedback">
                <div *ngIf="controls['categoriaInput'].errors?.['pattern']">Por favor, informe uma categoria.</div>
              </div>
            </div>
            <label for="precoInput" class="form-label">Preço</label>
            <div class="mb-3 input-group">
              <span class="input-group-text" id="basic-addon1">R$</span>
              <input currencyMask [options]="{ prefix: '',thousands: '.', decimal: ',' }"
                class="form-control  max-width-input-currency" type="tel" #precoInput formControlName="precoInput"
                id="precoInput"
                [ngClass]="{ 'is-invalid': (controls['precoInput'].touched || hoveredSubmit) && controls['precoInput'].invalid }">
              <div class="invalid-feedback">
                <div *ngIf="controls['precoInput'].errors?.['required'] || controls['precoInput'].errors?.['min']">Por
                  favor, informe um valor maior que '0.01'.</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <span class="d-inline-block" [ngClass]="{ 'has-popover': !editBarCodeForm.valid }" tabindex="0"
            (mouseenter)="showErrors()">
            <button type="button" class="btn btn-primary" aria-label="Close" (click)="onSubmitEditBarCodeForm()"
              [disabled]="!editBarCodeForm.valid">Pronto!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
